<% var selected = function (value) {
  if (search_default === value) {
    return "selected"
    }
} %>

<% var tagField = function (tag_name) {
  return "<div id='" + tag_name + "'></div>"
} %>

<input type="submit" value="sort and filter">
<p>
<select name="sort_criterion">
  <option value="updated_at" <%= selected("updated_at") %>>Date Updated</option>
  <option value="created_at" <%= selected("created_at") %>>Date Posted</option>
  <option value="word_count" <%= selected("word_count") %>>Word Count</option>
  <option value="title" <%= selected("title") %>>Title</option>
  <option value="author_name" <%= selected("author_name") %>>Author</option>
</select>
<p>
<label for="author_name">Author</label><br />
<%= tagField("author_name") %>
<input type="text" name="tags[author_name]" id="author_name">
<p>
<label for="fandom_name">Fandom</label><br />
<%= tagField("fandom_name") %>
<input type="text" name="tags[fandom_name]" id="fandom_name">
<p>
<input type="submit" value="sort and filter">
