<% var selected = function (value) {
  if (search_default === value) {
    return "selected"
    }
} %>

<% var tagField = function (tag_name) {
  return "<div id='" + tag_name + "'></div> <input type='text' name='tags[" +
    tag_name +"]' id='" + tag_name + "'><p>"
} %>

<input type="submit" class="sort-and-filter" value="Sort And Filter">
<p>
<select name="sort_criterion">
  <option value="updated_at" <%= selected("updated_at") %>>Date Updated</option>
  <option value="created_at" <%= selected("created_at") %>>Date Posted</option>
  <option value="word_count" <%= selected("word_count") %>>Word Count</option>
  <option value="title" <%= selected("title") %>>Title</option>
  <option value="author_name" <%= selected("author_name") %>>Author</option>
  <option value="kudos" <%= selected("kudos") %>>Kudos</option>
</select>
<p>
<label for="author_name">Author</label><br />
<%= tagField("author_name") %>
<label for="fandom_name">Fandom</label><br />
<%= tagField("fandom_name") %>
<label for="Ratings">Ratings</label><br />
<%= tagField("Ratings") %>
<label for="Warnings">Warnings</label><br />
<%= tagField("Warnings") %>
<label for="Categories">Categories</label><br />
<%= tagField("Categories") %>
<label for="Characters">Characters</label><br />
<%= tagField("Characters") %>
<label for="Pairings">Pairings</label><br />
<%= tagField("Pairings") %>
<label for="Additional">Additional Tags</label><br />
<%= tagField("Additional") %>
<input type="submit" class="sort-and-filter" value="Sort And Filter">
