<% var selected = function (value) {
  if (search_default === value) {
    return "selected"
    }
} %>

<% var tagField = function (tagName) {
  var tagList = ""
  if (topTags[tagName]) {
    _(topTags[tagName]).each(function(tag){
      tagList = tagList + "<input type='checkbox' value='" + tag[0] +
      "' name='tags[" + tagName + "][]'><div>" + tag[0] + "</div>"
    })
  }
  return tagList
} %>

<input type="submit" class="sort-and-filter" value="Sort And Filter">
<p>
<select name="sort_criterion">
  <option value="updated_at" <%= selected("updated_at") %>>Date Updated</option>
  <option value="created_at" <%= selected("created_at") %>>Date Posted</option>
  <option value="word_count" <%= selected("word_count") %>>Word Count</option>
  <option value="title" <%= selected("title") %>>Title</option>
  <option value="author_name" <%= selected("author_name") %>>Author</option>
  <option value="kudos" <%= selected("kudos") %>>Kudos</option>
  <option value="hits" <%= selected("hits") %>>Hits</option>
</select>
<p>

<label for="author_name">Author</label><br />
<%= tagField("author_name") %>
<label for="fandom_name">Fandom</label><br />
<%= tagField("fandom_name") %>

<label for="Ratings">Ratings</label><br />
<div class="item">
    <input type="radio" name="tags[Ratings][]" value="all">All Ratings</option>
    <input type="radio" name="tags[Ratings][]" value="unrated">Unrated</option>
    <input type="radio" name="tags[Ratings][]" value="general">General Audiences</option>
    <input type="radio" name="tags[Ratings][]" value="teen">Teen And Up Audiences</option>
    <input type="radio" name="tags[Ratings][]" value="mature">Mature</option>
    <input type="radio" name="tags[Ratings][]" value="explicit">Explicit</option>
  </div>
</div>

<label for="Warnings">Warnings</label><br />
<div class="warning-item">
  <input type="checkbox" value="Creator Chose Not To Use Archive Warnings"
    name="tags[Warnings][]" id="chose_not_to">
  <div class="chose_not_to">Creator Chose Not To Use Archive Warnings</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="No Archive Warnings Apply" name="tags[Warnings][]"
    id="none_apply">
  <div class="none_apply">No Archive Warnings Apply</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Graphic Depictions of Violence"
    name="tags[Warnings][]" id="violence">
  <div class="violence">Graphic Depictions of Violence</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Major Character Death" name="tags[Warnings][]"
    id="death">
  <div class="death">Major Character Death</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Rape"" name="tags[Warnings][]" id="rape">
  <div class="rape">Rape</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Underage" name="tags[Warnings][]" id="warning">
  <div class="underage">Underage</div>
</div>

<label for="Categories">Categories</label><br />
<input type="radio" name="tags[Categories][]" value="all">All Categories
<input type="radio" name="tags[Categories][]">Gen
<input type="radio" name="tags[Categories][]">Female/Female
<input type="radio" name="tags[Categories][]>Male/Male
<input type="radio" name="tags[Categories][]>Female/Male
<input type="radio" name="tags[Categories][]>Other
<input type="radio" name="tags[Categories][]>Multi

<label for="Characters">Characters</label><br />
<%= tagField("Characters") %>
<label for="Relationships">Relationships</label><br />
<%= tagField("Relationships") %>
<label for="Additional">Additional Tags</label><br />
<%= tagField("Additional") %>

<label for="autocomplete">Other Tags</label><br />
<div class='tags-div'></div>
<input type='text' id='autocomplete' class='add-tag' name="otherTags">

<input type="submit" class="sort-and-filter" value="Sort And Filter">
