<% var selected = function (value) {
  if (search_default === value) {
    return "selected"
    }
} %>

<% var tagField = function (tag_name) {
  return "<div class='tags-div' id='" + tag_name + "'></div> <input type='text' name='tags[" +
    tag_name +"]' id='" + tag_name + "'><p>"
} %>

<input type="submit" class="sort-and-filter" value="Sort And Filter">
<p>
<select name="sort_criterion">
  <option value="updated_at" <%= selected("updated_at") %>>Date Updated</option>
  <option value="created_at" <%= selected("created_at") %>>Date Posted</option>
  <option value="word_count" <%= selected("word_count") %>>Word Count</option>
  <option value="title" <%= selected("title") %>>Title</option>
  <option value="author_name" <%= selected("author_name") %>>Author</option>
  <option value="kudos" <%= selected("kudos") %>>Kudos</option>
</select>
<p>
<label for="author_name">Author</label><br />
<%= tagField("author_name") %>
<label for="fandom_name">Fandom</label><br />
<%= tagField("fandom_name") %>
<label for="Ratings">Ratings</label><br />
<div class="item">
  <div class="rating">Rating</div>
    <select id="rating" name="story[ratings]">
      <option value="unrated">Unrated</option>
      <option value="general">General Audiences</option>
      <option value="teen">Teen And Up Audiences</option>
      <option value="mature">Mature</option>
      <option value="explicit">Explicit</option>
    </select>
  </div>
</div>
<label for="Warnings">Warnings</label><br />
<div class="item">
<div class="warning-item">
  <input type="checkbox" value="Creator Chose Not To Use Archive Warnings"
    name="story[warnings][]" id="chose_not_to">
  <div class="chose_not_to">Creator Chose Not To Use Archive Warnings</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="No Archive Warnings Apply" name="story[warnings][]"
    id="none_apply">
  <div class="none_apply">No Archive Warnings Apply</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Graphic Depictions of Violence"
    name="story[warnings][]" id="violence">
  <div class="violence">Graphic Depictions of Violence</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Major Character Death" name="story[warnings][]"
    id="death">
  <div class="death">Major Character Death</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Rape"" name="story[warnings][]" id="rape">
  <div class="rape">Rape</div>
</div>
<div class="warning-item">
  <input type="checkbox" value="Underage" name="story[warnings][]" id="warning">
  <div class="underage">Underage</div>
</div>
<label for="Categories">Categories</label><br />
<select id="category" name="story[categories]">
  <option>Gen</option>
  <option>Female/Female</option>
  <option>Male/Male</option>
  <option>Female/Male</option>
  <option>Other</option>
  <option>Multi</option>
</select>
<label for="Characters">Characters</label><br />
<%= tagField("Characters") %>
<label for="Pairings">Pairings</label><br />
<%= tagField("Pairings") %>
<label for="Additional">Additional Tags</label><br />
<%= tagField("Additional") %>
<input type="submit" class="sort-and-filter" value="Sort And Filter">
