<%
var factBoxSection = function(name, type) {
  }

var fandomSection = function() {
  if (story.get("fandom_name")) {
    var fandom = story.escape("fandom_name");
    var startCode = "<div><div class='col-xs-4'>Fandom: </div><div class='col-xs-8'>";
    var endCode = "</div></div>";
    var tagCode = "<a href='javascript:void(0)' class='search-link fandom_name'>" + fandom + "</a>"
    return startCode + tagCode + endCode;
  }
};

%>

<section class="row">
  <div>
    <div class="col-xs-4">
      Stats:
    </div>
    <div class="col-xs-8">
      Published: <% var date = new Date(story.escape("created_at")) %>
      <%= moment(date).format("YYYY[-]MM[-]D") %>
      Words: <%= story.escape("word_count") %>
      Hits: <%= story.escape("hits") %>
    </div>
  </div>
</section>

<section>
  <header><h2><%= story.escape("title") %></h2></header>
  <% if (story.get("author")) { %>
    <h3><a href="javascript:void(0)" class="author-link" data-id="<%= story.get("author").id %>">
      <%= story.escape("author_name") %>
    </a></h3>
  <% } %>
</section>
<aside class="row">
  <% if (story.escape("summary")) { %>
    <div class="h4">
      Summary:
    </div>
    <hr />
    <div>
      <%= story.escape("summary") %>
    </div>
  <% } %>
</aside>
<aside class="row">
  <% if (story.escape("notes")) { %>
    <div class="h4">
      Notes:
    </div>
    <hr />
    <div>
      <%= story.escape("notes") %>
    </div>
  <% } %>
</aside>

<article class="row">
  <%= story.get("text") %>
</article>
<button class="top">Top</button>
<% if (!story.get("current_user") || !story.get("kudosUsers")
  || story.get("kudosUsers").indexOf(story.get("current_user").username) === -1) { %>
  <button class="kudos">Kudos <3</button>
<% } else { %>
  <button class="unkudos">Remove Kudos</button>
<% } %>

<% if (story.get("kudosUsers")) { %>
  <% var users = story.get("kudosUsers").slice(0, 3)%>
  <%= users.join(", ") %> and <%= story.escape("kudos") - users.length %> other people have left kudos on this work!
<% } else { %>
  <%= story.escape("kudos") %> people have left kudos on this work!
<% } %>
