<%
var factBoxSection = function(name, type) {
    if (story.get(type) && story.get(type)[0] !== null) {
      var tags = story.get(type);
      if (story.get(type).length > 1) {
        name = name + "s"
      }
      var startCode = "<div class='superclass'><div class='column-1'>" + name + ": </div><div class='column-2'>";
      var endCode = "</div></div>";
      var tagCode = "";
      _(tags).each(function(tag){
        tagCode = tagCode + "<a href='javascript:void(0)' class='search-link " + type + "'>"
          + escapeHTML(tag) + "</a>" + ", ";
      });
      return startCode + tagCode.slice(0, -2) + endCode;
    }
  }

var fandomSection = function() {
  if (story.get("fandom_name")) {
    var fandom = story.escape("fandom_name");
    var startCode = "<div class='superclass'><div class='column-1'>Fandom: </div><div class='column-2'>";
    var endCode = "</div></div>";
    var tagCode = "<a href='javascript:void(0)' class='search-link fandom_name'>" + fandom + "</a>"
    return startCode + tagCode + endCode;
  }
}

var escapeHTML = (function () {
    var chr = {
        '"': '&quot;', '&': '&amp;', "'": '&#39;',
        '/': '&#47;',  '<': '&lt;',  '>': '&gt;'
    };
    return function (text) {
      return text.replace(/[\"&'\/<>]/g, function (a) { return chr[a]; });
    };
}());

%>

<section class="fact-box show-fact-box">
  <%= factBoxSection("Rating", "Ratings") %>
  <%= factBoxSection("Archive Warning", "Warnings") %>
  <%= fandomSection() %>
  <%= factBoxSection("Relationship", "Relationships") %>
  <%= factBoxSection("Character", "Characters") %>
  <%= factBoxSection("Additional Tag", "Additional") %>
  <div class="superclass">
    <div class="column-1">
      Stats:
    </div>
    <div class="column-2">
      Published: <% var date = new Date(story.escape("created_at")) %>
      <%= moment(date).format("YYYY[-]MM[-]D") %>
      Words: <%= story.escape("word_count") %>
      Hits: <%= story.escape("hits") %>
    </div>
  </div>
</section>

<section class="title">
  <header class="title"><%= story.escape("title") %></header>
  <% if (story.get("author")) { %>
    <h2><a href="javascript:void(0)" class="author-link" data-id="<%= story.get("author").id %>">
      <%= story.escape("author_name") %>
    </a></h2>
  <% } %>
</section>
<aside class="summary">
  <% if (story.escape("summary")) { %>
    <div class="on-top-of-line">
      Summary:
    </div>
    <hr class="story" />
    <div class="below-line">
      <%= story.escape("summary") %>
    </div>
  <% } %>
</aside>
<aside class="summary">
  <% if (story.escape("notes")) { %>
    <div class="on-top-of-line">
      Notes:
    </div>
    <hr class="story" />
    <div class="below-line">
      <%= story.escape("notes") %>
    </div>
  <% } %>
</aside>
<article>
  <%= story.get("text") %>
</article>
<button class="top">Top</button>
<% if (!story.get("current_user") || !story.get("kudosUsers")
  || story.get("kudosUsers").indexOf(story.get("current_user").username) === -1) { %>
  <button class="kudos">Kudos <3</button>
<% } else { %>
  <button class="unkudos">Remove Kudos</button>
<% } %>

<% if (story.get("kudosUsers")) { %>
  <% var users = story.get("kudosUsers").slice(0, 3)%>
  <%= users.join(", ") %> and <%= story.escape("kudos") - users.length %> other people have left kudos on this work!
<% } else { %>
  <%= story.escape("kudos") %> people have left kudos on this work!
<% } %>
