<% var factBoxSection = function(name, type) {
  if (story.get(type)) {
    var tags = story.get(type);
    if (story.get(type).length > 1) {
      name = name + "s"
    }
    var startCode = "<div class='superclass'><div class='column-1'>" + name + ": </div><div class='column-2'>";
    var endCode = "</div></div>";
    var tagCode = "";
    _(tags).each(function(tag){
      tagCode = tagCode + "<a href='javascript:void(0)' class='search-link'>"
        + escapeHTML(tag) + "</a>" + ", ";
    });
    return startCode + tagCode.slice(0, -2) + endCode;
  }
}

var escapeHTML = (function () {
    var chr = {
        '"': '&quot;', '&': '&amp;', "'": '&#39;',
        '/': '&#47;',  '<': '&lt;',  '>': '&gt;'
    };
    return function (text) {
      return text.replace(/[\"&'\/<>]/g, function (a) { return chr[a]; });
    };
}());

%>

<section class="fact-box show-fact-box">
  <%= factBoxSection("Rating", "Ratings") %>
  <%= factBoxSection("Archive Warning", "Warnings") %>
  <%= factBoxSection("Fandom", "fandom_name") %>
  <%= factBoxSection("Relationship", "Relationships") %>
  <%= factBoxSection("Character", "Characters") %>
  <%= factBoxSection("Additional Tag", "Additional") %>
  <div class="superclass">
    <div class="column-1">
      Stats:
    </div>
    <div class="column-2">
      Published: <% var date = new Date(story.escape("created_at")) %>
      <%= moment(date).format("YYYY[-]MM[-]D") %>
      Words: <%= story.escape("word_count") %>
    </div>
  </div>
</section>

<section class="title">
  <div class="title"><%= story.escape("title") %></div>
  <% if (story.get("author")) { %>
    <h2><a href="javascript:void(0)" class="author-link">
      <%= story.escape("author_name") %>
    </a></h2>
  <% } %>
</section>
<aside class="summary">
  <% if (story.escape("summary")) { %>
    <div class="on-top-of-line">
      Summary:
    </div>
    <hr />
    <div class="below-line">
      <%= story.escape("summary") %>
    </div>
  <% } %>
</aside>
<aside class="summary">
  <% if (story.escape("notes")) { %>
    <div class="on-top-of-line">
      Notes:
    </div>
    <hr />
    <div class="below-line">
      <%= story.escape("notes") %>
    </div>
  <% } %>
</aside>
<article>
  <%= story.escape("text") %>
</article>
<button class="top">Top</button>
