<section class="fact-box show-fact-box">
  <div class="superclass">
    <div class="column-1">
      Fandom
    </div>
    <div class="column-2">
      <a href="javascript:void(0)" class="fandom-link">
        <%= story.escape("fandom_name") %>
      </a>
    </div>
  </div>
  <div class="superclass">
    <div class="column-1">
      Stats:
    </div>
    <div class="column-2">
      Published: <% var date = new Date(story.escape("created_at")) %>
      <%= moment(date).format("YYYY[-]MM[-]D") %>
      Words: <%= story.escape("word_count") %>
    </div>
  </div>
</section>
<section class="title">
  <div class="title"><%= story.escape("title") %></div>
  <% if (story.get("author")) { %>
    <h2><a href="javascript:void(0)" class="author-link">
      <%= story.escape("author_name") %>
    </a></h2>
  <% } %>
</section>
<aside class="summary">
  <% if (story.escape("summary")) { %>
    <div class="on-top-of-line">
      Summary:
    </div>
    <hr />
    <div class="below-line">
      <%= story.escape("summary") %>
    </div>
  <% } %>
</aside>
<aside class="summary">
  <% if (story.escape("notes")) { %>
    <div class="on-top-of-line">
      Notes:
    </div>
    <hr />
    <div class="below-line">
      <%= story.escape("notes") %>
    </div>
  <% } %>
</aside>
<article>
  <%= story.escape("text") %>
</article>
<button class="top">Top</button>
